@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-base font-normal font-body;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

input {
  outline: none;
}

.shadow-1 {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.bg-button--header {
  background: linear-gradient(90deg, #2e37a4 0%, #0e9384 100%);
}

.bg-user {
  background: url('../assets/default-user.jpg') lightgray 50% / cover no-repeat;
}

.otpInput {
  width: 60px;
  height: 60px;
  margin: 16px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
}

.otpInput:focus {
  border: 2px solid #2e37a4;
}

aside::-webkit-scrollbar {
  display: none;
}

aside {
  scrollbar-width: none;
    -ms-overflow-style: none; /* IE, Edge */
  scrollbar-gutter: stable both-edges;
}


